<!-- Header -->
<div class="p-2 mr-2 rounded-xl">
  <div
    class="flex items-center gap-4 lg:justify-between max-lg:justify-center max-lg:flex-col"
  >
    <div
      class="flex items-center justify-center p-5 w-fit max-sm:flex-col max-sm:gap-4 sm:gap-8"
    >
      <div
        class="flex flex-row justify-center w-full gap-4 text-teal-500 max-sm:flex-col"
      >
        <div class="flex flex-row items-center justify-center gap-4">
          <span
            [routerLink]="['/home']"
            routerLinkActive="active-link"
            class="text-lg font-semibold uppercase transition-all duration-150 ease-in-out cursor-pointer hover:text-green-500"
            >Home</span
          >
        </div>
      </div>
    </div>

    <!-- User Card -->
    <div class="max-lg:w-full">
      <div class="flex items-center justify-center w-full">
        <div *ngIf="currentUser" class="relative">
          <div
            (click)="logout()"
            class="absolute flex items-center justify-between w-full h-12 px-5 mt-2 text-white bg-gray-600 cursor-pointer hover:bg-gray-500 rounded-xl"
          >
            <div class="flex flex-col">
              <span class="">Logout</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
