<div class="flex items-center justify-center h-screen bg-gray-100">
  <!-- Left: Image -->
  <div class="hidden w-1/2 h-screen lg:block">
    <img
      src="../../../assets/employee-login.jpg"
      alt="Placeholder Image"
      class="object-cover w-full h-full"
    />
  </div>
  <!-- Right: Register Form -->
  <div class="w-full p-8 lg:p-36 md:p-52 sm:20 lg:w-1/2">
    <h1 class="mb-4 text-2xl font-semibold">Register</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- First Name Input -->
      <div class="mb-4">
        <label for="firstName" class="block text-gray-600">First Name</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          formControlName="firstName"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
          autocomplete="off"
        />
        <div
          *ngIf="
            (!firstName?.valid && (firstName?.dirty || firstName?.touched)) ||
            submitted
          "
        >
          <small
            class="text-red-800"
            [hidden]="!firstName?.errors?.['required']"
          >
            First name is required
          </small>
        </div>
      </div>
      <!-- Last Name Input -->
      <div class="mb-4">
        <label for="lastName" class="block text-gray-600">Last Name</label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          formControlName="lastName"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
          autocomplete="off"
        />
        <div
          *ngIf="
            (!lastName?.valid && (lastName?.dirty || lastName?.touched)) ||
            submitted
          "
        >
          <small
            class="text-red-800"
            [hidden]="!lastName?.errors?.['required']"
          >
            Last name is required
          </small>
        </div>
      </div>
      <!-- Username Input -->
      <div class="mb-4">
        <label for="username" class="block text-gray-600">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          formControlName="username"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
          autocomplete="off"
        />
        <div
          *ngIf="
            (!username?.valid && (username?.dirty || username?.touched)) ||
            submitted
          "
        >
          <small
            class="text-red-800"
            [hidden]="!username?.errors?.['required']"
          >
            Username is required
          </small>
        </div>
      </div>
      <!-- Password Input -->
      <div class="mb-4">
        <label for="password" class="block text-gray-600">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
          autocomplete="off"
        />
        <div
          *ngIf="
            (!password?.valid && (password?.dirty || password?.touched)) ||
            submitted
          "
        >
          <small
            class="text-red-800"
            [hidden]="!username?.errors?.['required']"
          >
            Password is required
          </small>
        </div>
      </div>
      <!-- Login Button -->
      <button
        type="submit"
        [disabled]="loading"
        class="w-full px-4 py-2 mt-4 font-semibold text-white bg-blue-500 rounded-md hover:bg-blue-600"
      >
        Register
      </button>
    </form>
    <!-- Sign up  Link -->
    <div class="mt-6 text-center text-blue-500">
      <a [routerLink]="['/auth']" class="hover:underline">Cancel</a>
    </div>
  </div>
</div>
