<div class="employee-add-container">
  <h2>Add New Employee</h2>

  <form [formGroup]="form" class="employee-form">
    <!-- Username -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      @if ( form.get('username')?.hasError('required') ) {
      <mat-error> Username is required </mat-error>
      }
    </mat-form-field>

    <!-- First Name -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      @if (form.get('firstName')?.hasError('required')) {
      <mat-error> First name is required </mat-error>
      }
    </mat-form-field>

    <!-- Last Name -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      @if (form.get('lastName')?.hasError('required')) {
      <mat-error> Last name is required </mat-error>
      }
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      @if (form.get('email')?.hasError('required')) {
      <mat-error> Email is required </mat-error>
      } @if (form.get('email')?.hasError('email')) {
      <mat-error> Invalid email format </mat-error>
      }
    </mat-form-field>

    <!-- Birth Date -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (form.get('birthDate')?.hasError('required')) {
      <mat-error> Birth date is required </mat-error>
      } @if (form.get('birthDate')?.hasError('futureDate')) {
      <mat-error> Birth date cannot be in the future </mat-error>
      }
    </mat-form-field>

    <!-- Basic Salary -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Basic Salary</mat-label>
      <input matInput formControlName="basicSalary" type="number" />
      @if(form.get('basicSalary')?.hasError('required')) {
      <mat-error> Basic salary is required </mat-error>
      } @if (form.get('basicSalary')?.hasError('pattern')) {
      <mat-error> Basic salary must be a number </mat-error>
      }
    </mat-form-field>

    <!-- Group with Search -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Group</mat-label>
      <mat-select formControlName="group">
        <mat-option>
          <input
            matInput
            placeholder="Search group..."
            (keyup)="$event.stopPropagation(); filterGroups($event)"
          />
        </mat-option>
        @for (g of groups(); track g) {
        <mat-option [value]="g">{{ g }}</mat-option>
        }
      </mat-select>
      @if(form.get('group')?.hasError('required')) {
      <mat-error> Group is required </mat-error>
      }
    </mat-form-field>

    <!-- Status -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option>
          <input
            matInput
            placeholder="Select status"
            (keyup)="$event.stopPropagation(); filterStatus($event)"
          />
        </mat-option>
        @for (g of statusOptions(); track g) {
        <mat-option [value]="g">{{ g }}</mat-option>
        }
      </mat-select>
      @if (form.get('status')?.hasError('required')) {
      <mat-error> Status is required </mat-error>
      }
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput rows="3" formControlName="description"></textarea>
      @if (form.get('description')?.hasError('required')) {
      <mat-error *ngIf=""> Description is required </mat-error>
      }
    </mat-form-field>

    <!-- Buttons -->
    <div class="actions">
      <button mat-raised-button color="primary" (click)="save()">Save</button>
      <button mat-button color="warn" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
